article > table {
  scrollbar-width: auto;
  -webkit-overflow-scrolling: touch;
}
article > table::-webkit-scrollbar {
  display: block;
}
.mejs__container a::before {
  display: none;
}
.mejs__container {
  max-width: 100%;
}